
<template>
    <l-map 
      ref="map"
      :center="[40, 0]" 
      :zoom="3" 
      style="height: 500px;" 
      :options="mapOptions"
      @focus="$refs.map.mapObject.scrollWheelZoom.enable()"
      @blur="$refs.map.mapObject.scrollWheelZoom.disable()"
      >
        <l-choropleth-layer 
          :data="countries"
          titleKey="Country"
          idKey="Country" 
          geojsonIdKey="name" 
          :value="value" 
          :geojson="geojson" 
          :colorScale="colorScale">
            <template slot-scope="props">
              <l-info-control 
                :item="props.currentItem" 
                :unit="props.unit" 
                title="Peers" 
                placeholder="Hover over a country"/>
              <l-reference-chart 
                title="Torrent peers per country" 
                :colorScale="colorScale" 
                :min="props.min" 
                :max="props.max" 
                position="topright"/>
            </template>
        </l-choropleth-layer>
    </l-map>
</template>

<script>
import {LMap} from 'vue2-leaflet';
import {InfoControl, ReferenceChart, ChoroplethLayer} from 'vue-choropleth'
import {geojson} from "@/data/world.geojson.js"
import {mapState} from 'vuex';


export default {
  components: {
    LMap,
    'l-info-control': InfoControl, 
    'l-reference-chart': ReferenceChart, 
    'l-choropleth-layer': ChoroplethLayer ,
  },
  data() {
    return {
      geojson,
      colorScale: ["e7d090", "e9ae7b", "de7062"],
      value: {
        key: "Amount",
        metric: "Total peers"
      },
      mapOptions: {
        attributionControl: false,
        scrollWheelZoom: false,
      },
    }
  },
  computed: {
    ...mapState([
      "countries"
    ]),
  },
}
</script>

<style scoped>
@import "../../node_modules/leaflet/dist/leaflet.css";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
