<template>
    <b-table 
    :data="data"
    :columns="columns"
    :striped="true"
    :bordered="false"
    :narrowed="false"
    :paginated="true"
    :pagination-simple="true"
    :per-page="10"
    checkable
    >
    </b-table>
</template>
<script>
import {mapState} from 'vuex';

const tableColumns = [
  {
    field: 'Country',
    label: 'Country Name',
  },
  {
    field: 'Amount',
    label: 'Amount of peers',
  },
];

export default {
    data() {
        return {
            columns: tableColumns,
            data: {},
        }
    },
    created() {
        this.data = this.countries;
    },
    computed: {
        ...mapState([
            "countries"
        ]),
    },
}
</script>